<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356984037284-d5p63fg7vkvcln6049qppc2li2t995o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356984037284-d5p63fg7vkvcln6049qppc2li2t995o4</string>
	<key>API_KEY</key>
	<string>AIzaSyCqfZiawKHM6ay4MjgCN3gPg3OAqcuJO7c</string>
	<key>GCM_SENDER_ID</key>
	<string>356984037284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ncejAdmin</string>
	<key>PROJECT_ID</key>
	<string>myecoprinted-c6f72</string>
	<key>STORAGE_BUCKET</key>
	<string>myecoprinted-c6f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356984037284:ios:8793b8db2d02800132ab31</string>
</dict>
</plist>